<div  class="flex h-full">
  <app-menu (menuClick) = "menuClick($event)"></app-menu>
  <div class="relative w-full backdrop-blur-sm bg-white/30 dark:bg-[#2f2f2f]/50">
    <div   class="absolute top-0 h-screen z-0 opacity-0 {{source=='bing'?'page-selected':''}}">
      <app-wallpaper-view  source="bing"></app-wallpaper-view>
    </div>

    <div   class="absolute top-0 h-screen z-0 opacity-0 {{source=='microsoft'?'page-selected':''}}">
      <app-wallpaper-view source="spotlight"></app-wallpaper-view>
    </div>

    <div   class="absolute top-0 h-screen z-0 opacity-0 {{source=='wallpapers'?'page-selected':''}}">
      <app-wallpaper-view source="wallpapers"></app-wallpaper-view>
    </div>

      <div   class="absolute top-0 h-screen z-0 opacity-0 {{source=='anime'?'page-selected':''}}">
          <app-wallpaper-view source="anime"></app-wallpaper-view>
      </div>
  </div>
</div>
