.logo.angular:hover {
  filter: drop-shadow(0 0 2em #e32727);
}

.h-screen{
  height: 100vh;
}

.page-selected{
  opacity: 1;
  z-index: 9999;
  transition: opacity 1s cubic-bezier(0.1, 0.7, 1, 0.1);
}